<div class="container-fluid main-container-fluid container-fluid-bg">
    <div class="row main-top">
        <div class="title">
            <div class="main-title">
                <div class="row">
                    <p class="main-title">Still Alive</p>
                    <p class="main-sub"><i>We deliver your last will</i></p>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                        <a href="#/login">
                            <button type="button" class="btn btn-default outline center-block main-btn">Get Started
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<hr role="separator" class="divider">-->

    </div>
</div>