<div class="container" ng-controller="WillListController as model">
    <table
           class="table table-hover">
        <!--'ACCOUNT', 'ITEM', 'LETTER', 'PICTURE', 'TEXT', 'OTHER'-->
        <tbody ng-repeat="will in model.wills" ng-switch="will.willType">
            <tr ng-switch-when="ACCOUNT"><td>asd</td></tr>
            <tr ng-switch-when="ITEM"><td></td></tr>
            <tr ng-switch-when="LETTER"><td></td></tr>
            <tr ng-switch-when="PICTURE"><td></td></tr>
            <tr ng-switch-when="TEXT"><td></td></tr>
            <tr ng-switch-when="OTHER"><td></td></tr>
        </tbody>

    </table>
</div>