<div class="container" ng-controller="WillListController as model">
    <table
            class="table table-bordered table-hover will-container">
        <tbody>
        <tr ng-repeat="will in model.wills" ng-switch="will.willType">
            <td ng-switch-when="ACCOUNT">account</td>
            <td ng-switch-when="ITEM">item</td>
            <td ng-switch-when="LETTER">letter</td>
            <td ng-switch-when="PICTURE">pic</td>
            <td ng-switch-when="TEXT">text</td>
            <td ng-switch-when="OTHER">other</td>
        </tr>
        </tbody>
    </table>
</div>