<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header text-center">
                <a class="navbar-brand">Edit Will</a>
            </div>
            <div class="pull-left nav-right">
                <a ng-href="#/admin/{{model.aid}}/client/{{model.uid}}/will/{{will._id}}"><i class="glyphicon glyphicon-chevron-left"></i></a>
            </div>
        </div>
    </nav>

    <div ng-switch="model.will.willType" class="edit-body">
        <div ng-switch-when="ACCOUNT">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label for="accountName">name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" id="accountName"
                               value="{{model.will.name}}" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="account">account</label>
                        <input type="text" ng-model="model.will.account" class="form-control" id="account"
                               value="{{model.will.account}}" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="accountPwd">account's password</label>
                        <input type="text" ng-model="model.will.accountPwd" class="form-control" id="accountPwd"
                               value="{{model.will.accountPwd}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>
        </div>
        <div ng-switch-when="ITEM">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" value="{{model.will.name}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>item name</label>
                        <input type="text" ng-model="model.will.itemName" class="form-control"
                               value="{{model.will.itemName}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>item number</label>
                        <input type="text" ng-model="model.will.itemNumber" class="form-control"
                               value="{{model.will.itemNumber}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>
        </div>
        <div ng-switch-when="LETTER">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" value="{{model.will.name}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>letter name</label>
                        <input type="text" ng-model="model.will.letterName" class="form-control"
                               value="{{model.will.letterName}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>content</label>
                        <input type="text" ng-model="model.will.letterContent" class="form-control"
                               value="{{model.will.letterContent}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>


        </div>
        <div ng-switch-when="PICTURE">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" value="{{model.will.name}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>picture name</label>
                        <input type="text" ng-model="model.will.pictureName" class="form-control"
                               value="{{model.will.pictureName}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>picture url</label>
                        <input type="text" ng-model="model.will.pictureUrl" class="form-control"
                               value="{{model.will.pictureUrl}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>


        </div>
        <div ng-switch-when="TEXT">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" value="{{model.will.name}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>text name</label>
                        <input type="text" ng-model="model.will.textName" class="form-control"
                               value="{{model.will.textName}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>content</label>
                        <!--todo-->
                        <input type="text" ng-model="model.will.textContent" class="form-control"
                               value="{{model.will.textContent}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>

        </div>
        <div ng-switch-when="OTHER">
            <form>
                <div class="row">
                    <div class="form-group">
                        <label>name</label>
                        <input type="text" ng-model="model.will.name" class="form-control" value="{{model.will.name}}"disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label>content</label>
                        <input type="text" ng-model="model.will.otherContent" class="form-control"
                               value="{{model.will.otherContent}}"disabled>
                    </div>
                </div>
                <div class="row name">
                    <div class="form-group col-xs-6">
                        <label>to Whom</label>
                        <input type="text" ng-model="model.will.toWhom" class="form-control"
                               value="{{model.will.toWhom}}"disabled>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>The person's contact info</label>
                        <input type="text" ng-model="model.will.toContact" class="form-control"
                               value="{{model.will.toContact}}"disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea disabled="disabled" ng-model="model.will.description" class="form-control"
                              rows="3">{{model.will.description}}</textarea>
                </div>
            </form>

        </div>

    </div>
</div>