/*#579DE3*/
/*#ED6152*/
/*#D9D9D9*/
/*#666*/
/*#2E2D2E*/

html, body, .ng-wrapper, .container-fluid {
    margin:0;
    padding: 0;
    height:100%;

}
.container-fluid-bg {
    width: 100%;
    padding: 0;
    background: url(../imgs/blur-bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a:hover {
    text-decoration: none;
}
.btn-primary {
    background-color: #579DE3;
    border: none;
}

.btn-danger {
    background-color: #ED6152;
    border: none;
}

.btn-primary:hover {
    background-color: #579DE3;
    border: none;
}

.btn-danger:hover {
    background-color: #ED6152;
    border: none;
}

div.main-top {
    height: 100%;
}
.divider {
    margin: 0;
    padding: 0;
}
div.main-title {
    font-size: 2em;
    line-height: 35px;
    text-align: center;
    color: white;
    z-index: 1000;
    position: relative;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:50%;
    height: 30%;
    top:250px;
}
p.main-title {
    font-size: 1.4em;
}
p.main-sub {
    font-size: 20px;
    font-weight: 100;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

div.main-top div.container {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
}
div.main-bottom {
    margin-top: 20px;
    text-align: center;
}

/*.main-btns {*/
    /*width: 100%;*/
    /*position:absolute;*/
    /*z-index: 1000;*/
    /*bottom: 150px;*/
    /*left:0;*/
    /*right:0;*/
    /*margin:auto;*/
/*}*/
.main-btn {
    color: white;
    width:100%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-default.outline {
    border: 2px solid #fff;
    color: #fff;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    border-color: #fff;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
    background-color: transparent;
}
/***********************
  END OUTLINE BUTTONS
************************/

input {
    height:50px !important;
    background: transparent;
}
/* auto complete style */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* end auto complete*/

p.login-title {
    text-align: center;
    font-size: 3.2em;
    color:white;
}


.login-message {
    color:white;
    font-size: 13px;
}
.login-container-fluid {

    padding-top:8%;
}
.login-btn {
    width: 100%;
}

.login-col {
    padding: 1px;
}

.row {
    padding-bottom: 5px;
}

.login-container {
    position: relative;
    z-index: 1;
    background: transparent;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

input {
    opacity: 0.7;
}
.pwd-fail {
    color:white;
    position: absolute;
    left: 0;
    top:5px;
 }

/* for profile page*/
.footer {
    background-color: #F3F3F3;
    width: 100%;
    height: 60px;

}
.navbar {
    border: none;
    background-color: #F3F3F3;
}
.navbar-brand
{
    color: black !important;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.body-container {
    margin-top:80px;
    margin-bottom: 80px;
    clear: both;
}
.footer-container {
    padding-top: 17px;
}
.name div.col-xs-6 {
    padding: 0;
    padding-right: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-xl {
    width: 250px;
    height: 250px;
    padding: 10px 16px;
    line-height: 1.33;
}
.btn-circle.btn-xl i{
    font-size: 50px;

}

.btn-circle.btn-xl p {
    padding-top: 10px;
    font-size: 20px;
}

a.to-profile {
    color:black;
    font-size: 20px;
}
.nav-right {
    padding-top:13px;
}

.nav-right a {
    color:black;
}

.chooser-table {
    margin-top: 100px;
}
.chooser-table tr {
    height:50px;
}
.chooser-table td{
    text-align: center;
    font-size: 15px;
}